<p align="right">계약번호: {{contract_no}}</p>
<h1><u>물품구매-판매계약서(수입)</u></h1>
<p>{{partner_name}}(이하 “고객사”) 와 {{company_name}}(이하 “판매사”)는 “고객사”의 요청에 의해 해외에서 물품을 수입하여 판매하는 계약을 아래와 같이 체결하고 계약내용을 성실하게 이행하기로 합의한다.</p>
<p align="center">---------　아　래　---------</p>
<p>1.“고객사” 요청대상물품정보 및 책임</p>
<table class="goods" border="1" cellspacing="0" width="100%"><tr><th>품목</th><th>원산지</th><th>오퍼중량<br/>(kg)</th><th>오퍼단가<br/>(USD/kg)</th><th>물품총액<br/>(USD)</th><th>계약번호</th><th>보관<br/>창고</th></tr>{{goods_rows}}</table>
<p>(1) 대상물품에 발생하는 국내외의 모든 제반문제(계약상품상의 문제, 물류, 창고, 법적사항, 기타 불가항력적인 사고, 재해 등)는 “고객사”가 책임지기로 한다.</p>
<p>(2) 상품상의 문제로 해외거래선과 협의가 필요할 시 “고객사” 책임하에 진행하되, 업무진행을 위해 “판매사”는 성실히 협조하기로 한다.</p>
<p>(3) 대상물품은 입항일 기준으로 잔존 유통기한이 1년3개월 이상이어야 하며, 계약기간이 남아 있는 물품이라도 유통기한이 1년이하인 경우 “판매사”는 언제든지 “고객사”에게 즉시 인수하도록 요청할 수 있으며, “고객사”는 3영업일 이내에 인수하여야 한다. “고객사”가 기한내에 인수하지 않을 경우 “판매사”는 해당 물품을 제3자에게 임의로 처분할 수 있다.</p>
<p>2.거래조건</p>
<p>(1)계약기간: 계약체결일로부터 본 계약에 의해 발생하는 권리, 의무가 소멸할 때까지 존속한다.</p>
<p>(2) 보증금: “고객사”는 물품대금(인보이스금액기준)의 ________%를 “판매사”가 지정하는 계좌로 입금하기로 한다.</p>
<p>(3) 출고약정기간: 수입물품의 보관창고 입고 후 <u>검역완료시점부터 {{contract_days}}일이내</u>에 전량 출고/인수하기로 한다.</p>
<p>(4)판매가격</p>
<p>1)판매가격은 매입가격+이자+계약(중개)수수료+창고료 등을 더하여 정하며, 최종적으로는 “판매사”가 “고객사”에 발행하는 거래명세표에 의해 정해진다.(일부항목은 상호협의하에 별도로 청구할 수 있다)</p>
<p>2)계약상품에 기타부대비용이 발생시에는 “고객사”는 해당비용을 부담하기로 한다.</p>
<p>3)수입원가는 물품대금+관세+각종은행수수료+운송비용+관세사수수료 등으로 이루어지며, 별도의 수입원가내역서를 공유하기로 한다. (결제시기(환율)는 “고객사”와 “판매사”가 협의하여 정하기로 한다)</p>
<p>4)계약(중개)수수료는 <u>수입원가의 {{brokerage_1}}({{brokerage_tax}})를 건별({{contract_days}}일단위)로</u> 부과한다. 계약기간 연장시에는 {{brokerage_increment}}를 가산하기로 하며, 계약실행 즉시 또는 상호협의한 날짜에 안내된 중개업체에 지불하기로 정한다.(별도 청구할 경우 한함)<br/>연장계약수수료는 최초수수료({{brokerage_1}})에 가산수수료({{brokerage_increment}})포함하여 <u>{{brokerage_2}}({{brokerage_tax}})를 건별로 부과</u>한다.</p>
<p>5)이자는 <u>연금리 {{interest_1}}로</u> 하며 물품대금결제일 또는 BL인수일부터 일수계산하기로 한다. <u>계약기간 연장시에는 {{interest_increment}}를 가산하기로</u> 한다.</p>
<p>6)창고료는 해당물품이 보관되어 있는 “판매사”의 보관요율을 일수계산하여 실비부과하기로 한다.<br/>단, 출고시 일수로 부과되지 않은 실비용은 최종 출고전에 부과하여 정산하기로 한다.</p>
{{extras}}
<p>3.출고요청 및 판매대금입금</p>
<p>“고객사”는 물품 출고시, “판매사”에게 사전에 출고요청신청 후 예상금액을 “고객사” 지정계좌로 입금완료한 후에 출고하기로 한다.</p>
<p>(1)출고요청서 접수시간: 오전9시~오후4시30분</p>
<p>(2)판매대금 입금계좌: {{bank_account}}</p>
<p align="center">{{contract_date_ko}}</p>
<table class="signature" width="100%"><tr><td width="50%">“판매사”<br/>{{company_signature}}</td><td width="50%">“고객사”<br/>{{partner_signature}}</td></tr></table>
