<p align="right">계약번호: {{contract_no}}</p>
<h1><u>BL양수도 계약서</u><br/>(관세사제출)</h1>
<p>양도자는 양수자에게 아래 상품에 대한 모든 권리를 양도하기로 합니다.</p>
<table width="100%" cellspacing="12"><tr><td width="50%">양도자<br/><table border="1" width="100%"><tr><td>{{partner_party}}</td></tr></table></td><td width="50%">양수자<br/><table border="1" width="100%"><tr><td>{{company_party}}</td></tr></table></td></tr></table>
<h2><u>상품내역</u></h2>
<table class="goods" border="1" cellspacing="0" width="100%"><tr><td width="20%">상품명</td><td>{{product_names}}</td></tr><tr><td>BL#</td><td>{{bl_no}}</td></tr><tr><td>Con't#</td><td>{{container_no}}</td></tr><tr><td>박스수</td><td>{{total_box}}</td></tr><tr><td>중량(kg)</td><td>{{total_kg}}</td></tr><tr><td>계약일</td><td>{{contract_date}}</td></tr></table>
<br/>
<table class="signature" width="100%"><tr><td width="20%">양도자<br/><br/>명판</td><td width="55%">{{partner_signature}}<br/><br/></td><td width="25%">법인인감<br/><br/>　　　　　　(인)</td></tr><tr><td>양수자</td><td>{{company_signature}}</td><td>인감<br/><br/>　　　　　　(인)</td></tr></table>
