# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment / Secret
.env

# VS Code
.vscode/

# Build
build/
dist/
*.spec

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3